#index_body {
    background-image: url("../img/index背景.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.index_p {
    font-size: 14px;
    color: gray;
}

table {
    background-color: skyblue;
}

th {
    background-color: blue;
}

.colspan {
    background-color: white;
    text-align: center;
}
