ul li {
    float: left;
    display: block;
    width: 150px;
    text-align: center;
    line-height: 50px;
    font-size: 14pt;
    color: white;
    text-decoration: none;
}

ul li:hover {
    color: yellow;
}

.navbar-header {
    background-image: none;
}

.jumbotron {
    background-image: url(../img/header-bg.jpg);
    background-repeat: none;
    background-attachment: scroll;
    text-align: center;
    height: 600px;
    color: white;
    padding: 250px;
}

.btn-waming {
    background-color: yellow;
}
